<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030000526933-m40h4836a2tip4kr71444ssksl1uvfm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030000526933-m40h4836a2tip4kr71444ssksl1uvfm1</string>
	<key>API_KEY</key>
	<string>AIzaSyBU-y2Oz8LeAIapScspKoibVJ1uMJmUKRU</string>
	<key>GCM_SENDER_ID</key>
	<string>1030000526933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DSJ.ShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-42956</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-42956.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030000526933:ios:4daef4adfd28b32a15b6dc</string>
	<key>DATABASE_URL</key>
	<string>https://shoppingapp-42956.firebaseio.com</string>
</dict>
</plist>